absl-py==1.4.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
black==21.4b2
cached-property==1.5.2
cachetools==4.2.4
certifi==2023.5.7
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.2.1
cycler==0.11.0
Cython==0.29.35
dataclasses==0.8
decorator==4.4.2
detectron2==0.6+cu113
filelock==3.4.1
future==0.18.3
fvcore==0.1.5.post20221221
google-auth==2.19.1
google-auth-oauthlib==0.4.6
grpcio==1.48.2
h5py==3.1.0
huggingface-hub==0.4.0
hydra-core==1.3.2
idna==3.4
imageio==2.15.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
iopath==0.1.9
kiwisolver==1.3.1
Markdown==3.3.7
matplotlib==3.3.4
MultiScaleDeformableAttention==1.0
mypy-extensions==1.0.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.6.0.66
packaging==21.3
panopticapi @ git+https://github.com/cocodataset/panopticapi.git@7bb4655548f98f3fedc07bf37e9040a992b054b0
pathspec==0.9.0
Pillow==8.4.0
portalocker==2.7.0
protobuf==3.19.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
pydot==1.4.2
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.1.1
PyYAML==6.0
regex==2023.6.3
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.17.2
scipy==1.5.4
Shapely==1.8.5.post1
six==1.16.0
submitit==1.4.5
tabulate==0.8.10
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
tifffile==2020.9.3
timm==0.6.12
toml==0.10.2
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.64.1
typed-ast==1.5.4
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
yacs==0.1.8
zipp==3.6.0
